.Watchlist{
    display: inline-block;
    width: 100%;
    height: 43vh;
    padding-right: 1%;
    background-color:gray;
    opacity: 0.9;
    margin-bottom: 1%;
}

.Watchlist ul{
    list-style-type: none;
    width: 100%;
    height: 26vh;
}

.Watchlist a{
    margin-right: 1%;
}

.Watchlist img{
    width:110px;
}