.Watchlist{
    display: block;
    width: 100%;
    height: 43vh;
    padding-right: 1%;
}

.Watchlist ul{
    list-style-type: none;
    width: 100%;
    height: 26vh;
}

.Watchlist li{
    width: 100%;
    height: 23vh;
}

.Watchlist img{
    width:110px;
}