 <nav>
        <a href="/home">Main Page</a>
        <a href="/article/articles">All Articles</a>
            <input type="text">
            <input type="submit" value="Search">
        </form>
        <a href="/article/create">Create New Article</a>
    </nav>
