.Navigation {
    width: 100%;
    margin: 0px 0px 0px 0px;
    height: 70px;
    line-height: 200%;
    border: solid 1px #6D6D6D;
    position: fixed;;
    top: 0;
    z-index: 1;
  }

.Navigation ul {
    list-style-type: none;
    height: 70px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(54, 54, 54);
}


.Navigation .listItem {
  float: right;
  margin: 10px 0px 6px 0px;
  padding: 17px 20px 6px 20px;
position: relative;
list-style: none;
height: 50px;
font-size: 20px;
vertical-align: middle;
color: #0077c7;
border-radius: 10px;
font-weight: bold;
font-style: normal;
text-decoration: none;
text-align: right;
}


.listItem a:hover {
  background-color: #0077c7;
  color: white;
}

#logo {
  height:70px;
  margin:0;
  padding:0;
  float:left;
}

.Navigation .listItem.active {
  background-color: #0077c7;
  color: white;
}
